@use '../../../sass/config';
.primary {
  background-color: config.$accent-primary-color;

  border: none;
  color: config.$white-color;
  font-family: config.$primary-font, sans-serif;
}

.secondary {
  background-color: config.$accent-secondary-color;

  border: none;
  color: config.$white-color;
  font-family: config.$primary-font, sans-serif;
}
