@use '../../sass/config';

.header {
  box-sizing: border-box;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(255, 250, 250, 0.37);
  border-radius: 0px 0px 15px 15px;
  border-bottom: 2px solid config.$primary-bg-color;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px;
}

.stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.logo {
  flex-shrink: 0;
  width: 40%;
  height: 90%;

  // .words {
  //   fill: config.$white-color;
  //   stroke: config.$primary-color;
  //   stroke-width: 1;
  //   stroke-dasharray: 335;
  //   stroke-dashoffset: 335;
  //   animation: draw 5s forwards;
  // }
  // .letterH {
  //   fill: config.$white-color;
  //   stroke: config.$secondary-color;
  //   stroke-width: 1;
  //   stroke-dasharray: 425;
  //   stroke-dashoffset: 425;
  //   animation: drawH 5s forwards;
  // }
  // .trimPaths {
  //   fill: rgba(255, 255, 255, 0);
  //   stroke: config.$white-color;
  //   stroke-width: 0.11;
  //   stroke-dasharray: 15;
  //   stroke-dashoffset: 15;
  //   animation: drawTrim 5s forwards;
  //   animation-delay: 5s;
  // }

  // @keyframes draw {
  //   70% {
  //     // stroke-dashoffset: 0;
  //     stroke-width: 00.5;
  //     fill: config.$white-color;
  //   }
  //   100% {
  //     stroke-dashoffset: 0;
  //     stroke-width: 0;
  //     fill: config.$primary-color;
  //   }
  // }

  // @keyframes drawH {
  //   70% {
  //     // stroke-dashoffset: 0;
  //     stroke-width: 0.5;
  //     fill: config.$white-color;
  //   }
  //   100% {
  //     stroke-dashoffset: 0;
  //     stroke-width: 0;
  //     fill: config.$secondary-color;
  //   }
  // }
  // @keyframes drawTrim {
  //   100% {
  //     stroke-dashoffset: 0;

  //     stroke-width: 0;
  //     fill: config.$white-color;
  //   }
  // }
}

.icons {
  flex-shrink: 0;
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.cart,
.favourite {
  width: 50%;
  height: 50%;
  stroke: config.$primary-color;
  fill: config.$primary-color;
}
