@use '../sass/config';

.aashas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heading {
  width: 95%;
  height: 8vh;
  line-height: 8vh;
  vertical-align: middle;
  color: config.$secondary-color;
}

.text {
  width: 95%;
  font-size: 1em;
  font-weight: lighter;
  line-height: 25px;
  color: config.$text-color;
}

.blog {
  width: 90vw;
  height: 8vh;

  border-radius: 10px;
  line-height: 8vh;
  vertical-align: middle;
  text-align: center;
  color: config.$white-color;
  font-size: 1.25em;
  letter-spacing: 1.25px;
}
