@use '../../sass/config';

.productDetailsTop {
  width: 100%;

  flex-shrink: 0;
  height: 30%;
  padding: 5%;
  padding-top: 10%;
}

.productTitle {
  font-size: 1.75em;
  color: config.$secondary-color;
  height: 50px;
  letter-spacing: 1px;
  font-weight: 600;
}

.productPrice {
  font-size: 1.25em;
  color: config.$primary-color;
  height: 40px;
  letter-spacing: 2px;
  font-weight: 100;
}

.sizeTitle {
  font-size: 1em;
  color: config.$primary-color;
  height: 35px;
  letter-spacing: 1px;
  font-weight: 600;
}

.sizesBox {
  display: flex;
}

.size {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background-color: config.$primary-bg-color;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: config.$primary-color;
  font-weight: 500;
  font-size: 1.25em;
}
.sizeSelected {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background-color: config.$primary-color;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  color: config.$primary-bg-color;
  font-weight: 500;
  font-size: 1.25em;
}
